.color-red {
  color: red;
}

.products {
  padding: 2em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

.products-flex {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.add-product {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.add-flex {
  display: flex;
  align-items: center;
  gap: 2em;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.home__flex {
  display: block;
}

.search-bar {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background-color: rgb(215, 209, 245);
}

.flex-btn {
  display: flex;
  gap: 1em;
}

.product__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.stock__product {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid black;
  /* height: 100%; */
  margin: 1em;
  padding: 0.4em;
  max-height: 23em;
}

.cart-img {
  height: 40px;
  width: 40px;
}

.cart-flex {
  display: flex;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
}

.cart-details {
  position: absolute;
  top: 7%;
  right: 1%;
  background-color: rgb(206, 205, 255);
  padding: 0.5em;
  display: none;
}

.cart-flex:hover .cart-details {
  display: block;
}

.cart-details-flex {
  display: flex;
  gap: 1em;
}

.view-cart {
  padding: 2em;
}

.view-cart__flex {
  display: flex;
  align-items: center;
  gap: 1em;
}
.btn-inc {
  height: 2em;
  width: 2em;
}

.view-cart__input {
  height: 44px;
  max-width: 44px;
  /* padding: 15px; */
}

.view-cart-flex {
  display: flex;
  justify-content: space-around;
}

.total-price {
  display: flex;
  margin-top: 2em;
  justify-content: space-between;
}

.total-price-input {
  width: 7em;
  text-align: center;
}

.checkout {
  margin-top: 2em;
  margin-left: 48%;
  overflow: hidden;
}

.checkout span {
  padding-right: 5em;
}

.checkout-flex {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.checkout-flex input {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background-color: rgb(215, 209, 245);
}

.order {
  margin-left: 40%;
}

.mt-20 {
  margin-top: 20px;
  border-top: 1px solid gray;
  padding-top: 20px;
}

.orders {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1em;
  width: 100%;
}

.order-info{
  border: 1px solid gray;
  height: fit-content;
  padding: .4em;
}
